.button-class {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:4px 2px;
  cursor:pointer;
}


html, 
body, .list-group-item{
  background-color:  #ffffff;
}


header .row div {
  background-color: pink;
  border: 1px solid tomato;
  height: 50px;
}

main .row div,
main .row aside, 
main .row article {
  background-color: lightgreen;
  border: 1px solid green;
  height: 80px;
}

footer .row div {
  background-color: lightyellow;
  border: 1px solid orange;
  height: 50px;
}
